---
const today = new Date();
---

<footer>
	<hr />
	<p>&copy; Copyright {today.getFullYear()}, Mateo Torres. <a href="/rss.xml">RSS Feed</a></p>
</footer>

<style>
	footer {
		padding: 2rem 1rem;
		max-width: 900px;
		margin: 0 auto;
	}

	p {
		margin: 1rem 0;
		font-size: 0.9rem;
	}

	hr {
		margin: 2rem 0 1rem 0;
	}
</style>
